{% extends "app/base.html" %}

{% block content %}
<section class="row">
  <div class="col-12 col-md-12">
   <div class="card">
    <div class="card-header">
      <h4 class="card-title">Input Data Penerima Bantuan</h4>
    </div>
    <div class="card-content">
      <div class="card-body">
        <form class="form form-horizontal" method="post" enctype="multipart/form-data" data-parsley-validate>
          <div class="form-body">
            <div class="row">

              <div class="col-md-4">
                <label>Nama</label>
              </div>
              <div class="col-md-8 form-group">
                <input 
                  type="text" 
                  id="first-name" 
                  class="form-control" 
                  name="nama" 
                  {% if item.nama %} value="{{item.nama}}" {% endif %}
                  required
                  data-parsley-minlength="6"
                >
              </div>

              <div class="col-md-4">
                <label>RT</label>
              </div>
              <div class="col-md-8 form-group">
                <input 
                  type="text" 
                  class="form-control" 
                  name="rt" 
                  {% if item.rt %} value="{{item.rt}}" {% endif %}
                  required
                  data-parsley-type="integer"
                  data-parsley-type-message="input tidak valid. harus angka"
                  data-parsley-min="1"
                  data-parsley-max="99"
                >
              </div>

              <div class="col-md-4">
                <label>RW</label>
              </div>
              <div class="col-md-8 form-group">
                <input type="text" class="form-control" name="rw" 
                {% if item.rw %} value="{{item.rw}}" {% endif %}
                data-parsley-type="integer"
                data-parsley-type-message="input tidak valid. harus angka"
                data-parsley-min="1"
                data-parsley-max="99"
                required>
              </div>

              <div class="col-md-4">
                <label>Kontak</label>
              </div>
              <div class="col-md-8 form-group">
                <input 
                  type="text"
                  class="form-control"
                  name="kontak"
                  {% if item.kontak %} value="{{item.kontak}}" {% endif %}
                  data-parsley-pattern="(\\+62|62|0)8[1-9][0-9]{6,9}"
                  required
                >
              </div>

              <div class="col-md-4">
                <label>NIK</label>
              </div>
              <div class="col-md-8 form-group">
                <input 
                  type="text" 
                  class="form-control" 
                  name="nik" 
                  {% if item.nik %} value="{{item.nik}}" {% endif %}
                  required
                  data-parsley-maxlength="16"
                  data-parsley-minlength="16"
                  data-parsley-pattern="^[0-9]+$"
                >
              </div>

              <div class="col-md-4">
                <label>Nomor Kartu Keluarga</label>
              </div>
              <div class="col-md-8 form-group">
                <input 
                  type="text" 
                  class="form-control" 
                  name="noKk" 
                  {% if item.noKk %} value="{{item.noKk}}" {% endif %}
                  required
                  data-parsley-maxlength="16"
                  data-parsley-minlength="16"
                  data-parsley-pattern="^[0-9]+$"
                >
              </div>

              <div class="col-md-4 d-grid">
                <button type="submit" class="btn btn-primary">submit</button>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}

{% block scripts %}
  <script>
    window.Parsley
      .addValidator('nik', {
        requirementType: 'string',
        validateString: function(value, requirement) {
          const pass = document.getElementById('password').value;
          return pass == value;
        },
        messages: {
          en: 'password tidak cocok',
          id: 'password tidak cocok'
        }
      });
  </script>
{% endblock %}