{% extends "app/base.html" %}

{% block content %}

<section class="row">
  <div class="col-12 col-md-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-12 col-md-10">
              <h2>1. Data Calon Penerima Bantuan</h2>
              <h4 class="text-dark">Anda {% if session.penerimaBantuan %} sudah {% else %} belum {% endif %} menginput biodata</h4>
             <!--  <p class="text-dark">Biodata yang digunakan oleh sistem kahska sds;jds sdjsd sdsd sdjs gosjds osjds sojds sodjs untuk menginput data</p> -->
            </div>
            <div class="col-12 col-md-2">
              <a class="btn btn-primary" href="/app/penerima/me/biodata">Input Biodata</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row">
  <div class="col-12 col-md-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-12 col-md-10">
              <h2>2. Kriteria Penilaian</h2>
              <h4 class="text-dark">Anda {% if penilaianDone %} sudah {% else %} belum {% endif %} menginput kriteria penilaian</h4>
              <!-- <p class="text-dark">Biodata yang digunakan oleh sistem kahska sds;jds sdjsd sdsd sdjs gosjds osjds sojds sodjs untuk menginput data</p> -->
            </div>
            <div class="col-12 col-md-2">
              <a class="btn btn-primary" href="/app/penerima/me/penilaian">Input Penilaian</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if penilaianDone and session.penerimaBantuan %}
<section class="row">
  <div class="col-12 col-md-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <p>Anda sudah menginput semua data yang dibutuhkan. Silahkan download laporan pendaftaran</p>
          <a target="_blank" href="/app/penerima/me/bukti-input" class="btn btn-primary btn-lg">Download Laporan Pendaftaran</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endblock %}