<ul>
  <li class="menu-item">
      <a href="/app" class='menu-link'>
          <i class="bi bi-grid-fill"></i>
          <span>Dashboard</span>
      </a>
  </li>
  <li class="menu-item  ">
      <a href="/app/kriteria" class='menu-link'>
          <i class="bi bi-person-badge-fill"></i>
          <span>Kriteria</span>
      </a>
  </li>
  <li class="menu-item  ">
      <a href="/app/periode" class='menu-link'>
          <i class="bi bi-person-badge-fill"></i>
          <span>Periode</span>
      </a>
  </li>
  <li class="menu-item">
      <a href="/app/penerima-bantuan" class='menu-link'>
          <i class="bi bi-person-badge-fill"></i>
          <span>Penerima Bantuan</span>
      </a>
  </li>
  <li class="menu-item">
    <a href="/app/penilaian" class='menu-link'>
        <i class="bi bi-person-badge-fill"></i>
        <span>Penilaian</span>
    </a>
</li>
  <li class="menu-item ">
      <a href="/app/rank" class='menu-link'>
          <i class="bi bi-calculator-fill"></i>
          <span>Perangkingan</span>
      </a>
  </li>
</ul>